body{
    font-family:"arial";
}
@font-face {
  font-family: 'pixel';
    src: url('../pixelpoiiz.ttf'); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal;
  }
@font-face {
  font-family: 'fancy';
    src: url('../Zapfino.ttf'); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'graf';
  src: url('../NotressGraffiti.ttf')
}