@font-face {
    font-family: 'mono';
      src: url('./SpaceMono-Regular.ttf'); /* IE9 Compat Modes */
      font-weight: 100;
      font-style: normal;
}

body{
    background-color: none;
    font-family: 'mono';
    margin:0;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

body ul{
    list-style: none;
}

.resume_main{
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    background-color: rgb(250, 251, 250);
    height:100vh;
    padding:20px;
}

/*NAME/CONTACT*/
    .name_contact{
        display:flex;
        justify-content: space-between;
        text-decoration: none;
        background-color: none;
        height:84px;
    }

    .name, h1{
        display: flex;
        flex-direction: column;
        justify-content:baseline;
        margin:0px;
    }
    .name a, a:visited{
        text-decoration: none;
        color:black;
    }
    .name a:hover{
        color:rgb(0, 0, 255);
    }
    .name h1{
        font-size:22pt;
    }
    .links ul{
        display:flex;
        flex-direction: row;
        list-style: none;
        margin:0;
        padding:0;
    }
    .links li{
        padding-right:5px;
    }
    .links button{
        background-color: transparent;
        border-style: none;
        margin:0;
        padding:0;
    }
    .links i{
        font-size:25px;
        color:black;
        margin:0;
        padding:0;
        padding-left:2px;
    }
    i:hover{
        color:blue;
    }
    .contact, p{
        text-align: right;
        text-wrap: wrap;
        white-space: normal;
        margin:0;
        padding:1px;
    }
    .contact a, a:visited{
        color:black;
    }
    .contact a:hover{
        color:rgb(0, 0, 255);
    }
    

/*resume body / l / r*/
.resume_body{
    display:flex;
    justify-content: space-between;
    background-color: none;
    height:100vh;
    margin-top:20px;
    margin-bottom:20px;
}

/*Job*/
.left_main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: none;
}
.job_container{
    opacity:0;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: none;
    width:43vw;
}
.job_container_job{
    margin:2px;
    background-color: rgba(218, 216, 216, 0.468);
    border-radius: 5px;
    padding:2px;
    color:rgb(0, 0, 0);
    font-size:20px;
}
.job_title{
    text-align: left;
    margin:0;
    padding:0;
    margin-left:10px;
}
.job_description{
    margin:5px;
    padding:10px;
}

/*Skills Other Information*/
.right_main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
}
.skill{
    margin-top:10px;
    margin-bottom:10px;
}


/*Portfolio Section*/
    #pull_tab {
        margin:0;
        color: white;
        width:100vw;
        height:100vh;
        background-color: rgba(255, 147, 7, 0.394);

        position:absolute;
        top:10vh;

        cursor:grab;

        display:flex;
        flex-direction: column;
    }
    #tab_base{
        background-color: black;
        margin:0;
        width:70px;
        text-align: center;
        padding:2px;
        align-self:center;
    }
    #string{
        background-color: black;
        height:100%;
        margin:0;
        width:5px;
        color:black;
        font-size:.0px;
        align-self:center;
    }

@media print {
    html{
        height:auto;
        background-color: black;
    }
} 