#logo{
    font-family:"block-logo";
}
#store {
    font-family:'monobold';
    color:rgb(196, 229, 229);
}
main {
    padding:10px;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background-color: rgb(239, 239, 239);
    color:rgb(98, 105, 112);
    font-family:'monoregular';
    display:flex;
    flex-direction:column;
}
nav {
    display:flex;
    justify-content:space-between;
}
h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
}
button {
    background-color: lightgray;
    border-style:none;
    border-radius: 10px;
    max-width: 200px;
    min-height:25px;
    padding:0;
    margin:0;
}
button:hover {
    background-color: rgb(196, 229, 229);
}
button:active {
    background-color: rgb(232, 229, 183);
}
