@font-face {
    font-family: 'pixel';
        src: url('../pixelpoiiz.ttf'); /* IE9 Compat Modes */
        font-weight: 700;
        font-style: normal;
}
@font-face {
    font-family: 'fancy';
      src: url('../Zapfino.ttf'); /* IE9 Compat Modes */
      font-weight: 700;
      font-style: normal;
   }
body{
    margin:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"fancy";
    overflow: hidden;
}
#itemList{
    overflow-y:auto;
    display:flex;
    flex-direction: column;
}
#x{
    background-color: transparent;
    border-style:none;
}
ul {
    list-style: none;
}
.entry{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:5px;
    border-color:rgb(118, 192, 91);
    border-style:dotted;
}
.entry input{
    width:200px;
    height:100px;
}
.entry button{
    width:205px;
    height:50px
}
