* {
  touch-action: manipulation;
}
body {
    margin:0;
    padding:0;
    overflow:hidden;
}
html {
    margin:0;
    /* filter:invert(); */
    padding:0;
}
.bg-default {
    font-family:"picto";
    display:flex;
    flex-direction: column;
	background-color: rgba(255, 187, 0, 0.022);
    height:100vh;
    overflow:hidden;
}
.bg-blog {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:rgb(226, 226, 226);
    overflow-y:scroll;
    height:100vh;
}

@font-face {
    font-family: "picto";
    src: url("/fonts/pictochat.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "picto";
    src: url("/fonts/pictochat.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "icons-1";
    src: url("/fonts/IconBitOne.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "icons-2";
    src: url("/fonts/IconBitTwo.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "block";
    src: url("/fonts/block.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "block-logo";
    src: url("/fonts/block-logo.otf");
    font-display: swap;
}
@font-face {
    font-family: "monoregular";
    src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "monobold";
    src: url("/fonts/SpaceMono-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "romans";
    src: url("/fonts/RomanS.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "matcha";
    src: url("/fonts/matcha.otf");
    font-display: swap;
}
