body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
}

@font-face {
    font-family: "picto";
    src: url("/pictochat.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "block";
    src: url("/block.ttf") format("truetype");
    font-display: swap;
}
